In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Netflix Engagement (plus).csv")

In [4]:
df.head()

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words,Description
0,The Night Agent: Season 1,Yes,2023-03-23,812100000,7696.0,6.0,"['Biography', 'Drama', 'History']","persian empire,empire,5th century b.c.,achaeme...",NaN
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000,5216.0,5.7,"['Comedy', 'Drama', 'Romance']","producer,three word title,headstrong,arranged ...",The film follows headstrong Ginny who meets Su...
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000,11869.0,8.4,['Short'],NaN,NaN
3,Wednesday: Season 1,Yes,2022-11-23,507700000,NaN,NaN,['Talk-Show'],youtube video,MsMojo counts down the top 10 Wednesday (2022)...
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000,50077.0,7.4,"['Drama', 'History', 'Romance']","prequel,queen,historical,england,queen charlot...","Betrothed against her will to King George, you..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18332 entries, 0 to 18331
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                18332 non-null  object
 1   Available Globally?  18332 non-null  object
 2   Release Date         4879 non-null   object
 3   Hours Viewed         18332 non-null  int64
 4   Number of Ratings    14222 non-null  float64
 5   Rating               14222 non-null  float64
 6   Genre                15761 non-null  object
 7   Key Words            12801 non-null  object
 8   Description          10619 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 1.3+ MB

In [6]:
df.columns

Index(['Title', 'Available Globally?', 'Release Date', 'Hours Viewed',
       'Number of Ratings', 'Rating', 'Genre', 'Key Words', 'Description'],
      dtype='object')

Cleaning Data

In [7]:
df.isnull().sum()

Title                      0
Available Globally?        0
Release Date           13453
Hours Viewed               0
Number of Ratings       4110
Rating                  4110
Genre                   2571
Key Words               5531
Description             7713
dtype: int64

Large amount of missing release dates, ratings, rating, genre, key words, and descriptions

Descriptions may be not necessary

In [8]:
df.drop(columns='Description', inplace=True)

In [9]:
# should key words be dropped?

Understanding the Popularity of Shows and What were the Most Popular Shows

In [10]:
df.loc[df['Number of Ratings'] > 100, :].sort_values('Rating',ascending=False).head(10)
# based on highest rated shows

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words
16573,Mr. Boss // 미스터 보스,No,NaN,100000,530.0,9.4,"['Short', 'Adventure']",NaN
10025,Charité: Season 2,No,NaN,500000,237.0,9.3,"['Documentary', 'Short']",NaN
5856,The Confession Tapes: Season 2,Yes,2019-06-21,2100000,237.0,9.3,"['Documentary', 'Short']",NaN
5835,Outlander: Season 7,No,2023-06-16,2100000,237.0,9.3,"['Documentary', 'Short']",NaN
184,The Queen of Flow: Season 2 // La reina del fl...,No,2021-11-17,67800000,237.0,9.3,"['Documentary', 'Short']",NaN
3800,Ask the StoryBots: Season 2,Yes,2018-08-24,4600000,237.0,9.3,"['Documentary', 'Short']",NaN
3975,The Gift: Season 2 // Atiye: 2. Sezon,Yes,2020-09-10,4300000,237.0,9.3,"['Documentary', 'Short']",NaN
5871,The Shawshank Redemption,No,NaN,2100000,2829797.0,9.3,['Drama'],"prison,based on the works of stephen king,esca..."
6476,The Bridge: Season 2 // Bron: Säsong 2,No,NaN,1700000,237.0,9.3,"['Documentary', 'Short']",NaN
14036,TharnType the series: Season 2 // TharnType th...,No,NaN,200000,237.0,9.3,"['Documentary', 'Short']",NaN

In [11]:
df.loc[df['Available Globally?'] == 'Yes'].sort_values('Rating',ascending=False).head(10)
# based on overall reviews, its not bad

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words
11793,Haroun,Yes,2021-10-27,300000,7.0,10.0,"['Short', 'History']",commercial microsoft excel course
10524,Tom Papa: You're Doing Great!,Yes,2020-02-04,500000,5.0,10.0,"['Short', 'Comedy']",NaN
629,Love Is Blind: Brazil: Season 3 // Casamento à...,Yes,2023-06-07,30100000,9.0,9.9,"['Short', 'Romance']",NaN
2415,One Day at a Time: Season 1,Yes,2017-01-06,8300000,30.0,9.7,"['Documentary', 'Drama']","reenactment,woman,young"
12945,Demetri Martin: Live (At the Time),Yes,2015-08-14,200000,13.0,9.7,['Music'],NaN
5811,Inside the Criminal Mind: Season 1,Yes,2018-08-31,2100000,12.0,9.6,"['Short', 'Drama']",NaN
790,Sex Education: Season 3,Yes,2021-09-17,26300000,42.0,9.5,['Drama'],NaN
7131,BONDING: Season 2,Yes,2021-01-27,1300000,5.0,9.4,"['Short', 'Comedy']",NaN
60,Stranger Things 4,Yes,2022-05-27,133600000,18.0,9.4,"['Drama', 'Fantasy', 'Horror']",NaN
2365,Making Fun: Season 1,Yes,2022-03-04,8500000,27.0,9.4,['Short'],NaN